.App {
  padding: 10px;
  width: 500px;
}
.App_ext {
  background-color: lightgray;
  padding: 5px 5px 5px 5px;
}

.extdiv {
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
